body {
    background-color: #bbbbbb;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: relative;
    font-family: 'Arial', Courier, monospace;
    color: white;
    text-shadow:  #000 -1px 0, #000  0 1px, #000  1px 0, #000  0 -1px, #000  -1px -1px, #000  1px 1px, #000  -1px 1px, #000  1px -1px;

}

section {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    width: 75vw;
    height: 80vh;
    align-items: flex-start;
}

#board {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(157, 209, 255);
    position: relative;
    background-image: url("../img/backdrop.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: #bbbbbb;
    padding: 5vh 46vh;
    z-index: 4;
    margin: 0;
    font-family: 'Arial', Courier, monospace;
    font-size: 2.5em;
    color: white;
    text-shadow:  #000 -2px 0, #000  0 2px, #000  2px 0, #000  0 -2px, #000  -2px -2px, #000  2px 2px, #000  -2px 2px, #000  2px -2px;
}


h4{
    font-size: 3em;
    position: absolute;
    display: flex;
    width: 6vw;
    height: 6vh;
    z-index: 1;
    justify-content: center;
}

#gameover {
    position: absolute;
    background-color: rgb(137, 137, 137);
    width: 40vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    z-index: 4;
}

#instruction {
    position: absolute;
    background-color: rgb(137, 137, 137);
    width: 40vw;
    height: 10vh;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    z-index: 3;
}

#instruction h2{
    margin: 0;
    text-align: center;
}


#player {
    position: absolute;
    background-image: url("../img/timberman-right_scaled_10x_pngcrushed.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

#tree-trunk {
    position: absolute;
    background-image: url("../img/treetrunk.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#tree-log {
    background-color: burlywood;
    position: absolute;
    background-image: url("../img/log_scaled_8x_pngcrushed.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#branch {
    position: absolute;
    background-image: url("../img/branchright1_scaled_5x_pngcrushed.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}

#gameover h2{
    font-size: 4em;
    display: flex;
}

#gameover h3{
    font-size: 3em;
    display: flex;
    margin-top: 0;
    margin-bottom: 120px;
}

#gameover a{
    font-size: 2em;
    display: flex;
    padding: 50px;
    padding-top: 0;
}

#countdownTimer{
    width: 20vw;
    height: 3vh;
    background-color: #9c0000;
    border: #9c0000 6px solid;
    border-radius: 8px;
    margin-bottom: 5px;
    position: absolute;
    top: 40vh;
    display: flex;
    align-items: flex-start;
    z-index: 3;
}

#countdownProgress{
    height: 3vh;
    background-color: #ff2626;
    display: flex;
    width: 15vw;

}